name: Release

on:
    pull_request:
    push:

jobs:
    releaser:
        name: Release
        runs-on: ubuntu-20.04
        steps:
            -
                name: Checkout
                uses: actions/checkout@v2
            -
                name: Set up Go
                uses: actions/setup-go@v2
                with:
                    go-version: 1.17
            -
                name: Run GoReleaser
                uses: goreleaser/goreleaser-action@v2
                with:
                    version: latest
                    args: release --rm-dist
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
