name: Release

on:
    pull_request:
    push:

jobs:
    releaser:
        name: Release
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout
                uses: actions/checkout@v3
            -
                name: Set up Go
                uses: actions/setup-go@v3
                with:
                    go-version-file: 'go.mod'
            -
                name: Run GoReleaser
                uses: goreleaser/goreleaser-action@v3
                with:
                    version: latest
                    args: release --rm-dist
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
