name: Test

on:
    pull_request:
    push:

jobs:
    test:
        name: Test
        runs-on: ubuntu-20.04
        steps:
            -
                name: Check
                uses: actions/checkout@v2
            -
                name: Set up Go
                uses: actions/setup-go@v2
                with:
                    go-version: 1.19
            -
                name: Run tests
                run: go test ./...
